<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recupero password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="recover-wrapper">
    <h1 class="recover-title">Recupero password</h1>
    <p class="recover-message">
      Funzione in costruzione.<br />
      A breve potrai recuperare la tua password via email.
    </p>
  </div>
</ion-content>
