<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-list>
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" type="email" formControlName="email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Password"
          labelPlacement="floating"
          type="password"
          formControlName="password"
        >
        </ion-input>
      </ion-item>
    </ion-list>

    @if (errorMessage) {
    <ion-text color="danger">
      <p class="ion-text-center">{{ errorMessage }}</p>
    </ion-text>
    }

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="loginForm.invalid">
      {{ submitting ? 'Signing in…' : 'Sign in' }}
    </ion-button>

    <h1>{{loginForm.invalid}}</h1>

    <ion-text color="medium">
      <p class="ion-text-center">Don't have an account? <a routerLink="/register">Sign up</a></p>
    </ion-text>
  </form>
</ion-content>
